.button1{
	-fx-font-family: DavidCLM;
  	-fx-background-insets: 1 1 1 1, 1;
	-fx-background-radius: 10;
	-fx-font-size: 25px;
	-fx-font-style: italic;
	-fx-background-color: rgb(38,52,78);
	-fx-text-fill: rgb(226,217,205);
}

.button1:hover {
    -fx-background-color: rgb(51, 69, 102);
	-fx-text-fill: rgb(226,217,205);
}

.button1:pressed, .button:default:hover:pressed {
  -fx-background-color: rgb(38,52,78);
  -fx-text-fill: rgb(226,217,205);
}

.corss_button:default {
	-fx-background: null;
}

.cross_button:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

.description{
	-fx-background-insets: 1 1 1 1, 1;
	-fx-background-radius: 10;
	-fx-control-inner-background: rgb(197,127,107);
	-fx-highlight-text-fill: rgb(38,52,78);
	-fx-text-fill: rgb(38,52,78);
	-fx-background-color:rgb(197,127,107);
	-fx-font-size: 25px;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}

.ingredient{
	-fx-background-insets: 1 1 1 1, 1;
	-fx-background-radius: 10;
	-fx-control-inner-background: rgb(197,127,107);
	-fx-highlight-text-fill: rgb(226,217,205);
	-fx-text-fill: rgb(226,217,205);
	-fx-background-color:rgb(148,32,40);
	-fx-font-size: 20px;
	-fx-text-alignment: left;
	-fx-font-weight: bold;
}

.gridPane{
	-fx-background-color: rgb(226,217,205);
}
.titre{
	-fx-font-family: Tahoma;
	-fx-font-size: 25px;
	-fx-text-fill:rgb(38,52,78);
	-fx-font-weight: bold;
	-fx-alignment: center;
}

.buttonTheme{
	-fx-pref-width: 75px;
	-fx-pref-height: 75px;
}

.box
{
	-fx-background-color: rgb(148,32,40);
	-fx-background-radius: 10;

}

.label1
{
	-fx-font-weight: bold;
}

.label2{
	-fx-background-radius: 5;
	-fx-text-fill: rgb(38,52,78);
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.label3 {
	-fx-text-fill:rgb(226,217,205);
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-alignment: center;
}